<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduCode</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="CssEdu/normalize.css">
    <link rel="stylesheet" href="CssEdu/EduCode.css">
</head>

<body>
    <!--<nav>
        <div class="holder">
            <ul>
                <li style="--clr:gold"><a href="index.html" data-text="Home">Home</a></li>
                <li style="--clr:crimson"><a href="nosotros.html" data-text="Nosotros">Nosotros</a></li>
                <li style="--clr:orangered"><a href="servicios.html" data-text="Servicios">Servicios</a></li>
                {{!<li style="--clr:purple "><a href="galeria.html" data-text="Galeria">Galeria</a></li>}}
                <li style="--clr:cyan"><a class="activo novedades" href="novedades.html" data-text="Novedades">Novedades</a></li>
                <li style="--clr:lawngreen"><a href="contacto.html" data-text="Contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>-->

    <main class="holder">

        <div class="row">
            <p class="text-end">Hola {{persona}}<a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión 
                <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
        <h2 class="novedades">Novedades</h2>
        <div class="novedades">
            <h3>¡Nueva herramienta de gamificación para el aula!</h3>
            <h4>Descubre "Aventura del Saber"</h4>
            <p>Una plataforma interactiva que transforma tus lecciones en emocionantes juegos. Aumenta la participación y el aprendizaje de tus estudiantes de una manera divertida y efectiva. ¡Explora las posibilidades y regístrate gratis hoy!</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>Webinar imperdible.</h3>
            <h4>Inteligencia Artificial para educadores</h4>
            <p>No te pierdas nuestro próximo seminario online donde exploraremos cómo la IA puede optimizar tu trabajo, personalizar el aprendizaje y abrir nuevas oportunidades en el aula. ¡Inscríbete ahora y asegura tu lugar!</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>Recursos descargables.</h3>
            <h4>Plantillas de planificación innovadoras</h4>
            <p>Hemos actualizado nuestra biblioteca de recursos con plantillas diseñadas para facilitar tu planificación y organización. ¡Descarga guías, rúbricas y esquemas listos para usar y ahorra tiempo valioso!</p>
            <hr>
        </div>
    </main>

    <footer>
        <p>Diseñado por MSG</p>
    </footer>
</body>

</html>