@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.contacto {
    display: flex;
    gap: 24px;
    overflow: hidden;
}

.contacto div {
    width: 100%;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.contacto h2 {
    color: purple;
    -webkit-text-stroke: 1px purple;
}

.datos {
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideIn {

    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-10%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contacto:hover .datos {
    transform: translateX(0);
    opacity: 1;
}

.datos p {
    font-size: 14px;
}

.datos ul {
    list-style-type: none;
    padding: 0;
}

.datos ul li {
    font-size: 13px;
    margin: 10px;
    font-weight: 450;
}

.datos ul li .titulo {
    font-weight: 700;
}

.datos ul li i {
    margin-right: 10px;
}

.datos ul li.icon {
    margin-right: 10px;
}

.formulario p {
    display: flex;
    flex-direction: row;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
    font-weight: 550;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario .centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input[type="text"],
.formulario textarea {
    width: 75%;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    background: #cac8c8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #333;
    font-size: 16px;
    margin-right: 10%;
    padding: 6px 20px;
    width: auto;
    cursor: pointer;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    outline: none;
}


.formulario input[type="submit"]:hover {
    background-color: #333;
    box-shadow: 0px 15px 20px rgba(47, 65, 58, 0.4);
    color: #e1dfdf;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        overflow: hidden;
    }

    .contacto div {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    .formulario {
        padding-right: 5%;
    }

    .formulario input[type="text"],
    .formulario textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .formulario input[type="submit"] {
        width: 100%;
        position: static;
        left: 0;
        margin-right: 0;
    }

    .formulario p {
        flex-direction: column;
        box-sizing: border-box;
    }

    .formulario p label {
        min-width: 0;
        margin-bottom: 5px;
    }
}